In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('pg_details.csv')

In [3]:
df

,PG_ID,PG_Name,Location,Rent,Amenities,Contact_Number,Ratings,Reviews,Gender,Nearby_places
0,1,Green Nest PG,Koramangala,8500,"WiFi, AC, Food",9876543210,4.5,120,Boys,Near Forum Mall
1,2,Blue Stay PG,Whitefield,7500,"WiFi, Laundry",9876543211,4.2,85,Co-living,Near ITPL
2,3,Cozy Nest PG,Marathahalli,9000,"WiFi, AC, Food, Laundry",9876543212,4.8,200,Boys,Near Innovative Multiplex
3,4,Urban Hive PG,Electronic City,7000,WiFi,9876543213,3.9,60,Co-living,Near Wipro Gate
4,5,Royal Comfort PG,Indiranagar,9500,"WiFi, AC, Food",9876543214,4.7,150,Boys,Near Metro Station
...,...,...,...,...,...,...,...,...,...,...
580,581,Pearl Residency,MG Road,9100,"WiFi, AC, Food",9876544113,4.5,190,Girls,Adjacent to Brigade Road
581,582,Ivy Haven,Domlur,7900,"WiFi, Food, AC",9876544114,3.9,125,Girls,Near EGL Business Park
582,583,Garnet Residency,Wilson Garden,7300,"WiFi, Laundry",9876544120,3.2,80,Girls,Near NIMHANS Hospital
583,584,Magnolia Comfort,Banashankari,7800,"WiFi, Food, AC",9876544121,4.1,145,Girls,Close to BDA Complex
584,585,Platinum Stay,KR Puram,9000,"WiFi, AC, Food",9876544122,4.6,210,Girls,Near Hanging Bridge

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PG_ID           585 non-null    int64
 1   PG_Name         585 non-null    object
 2   Location        585 non-null    object
 3   Rent            585 non-null    int64
 4   Amenities       585 non-null    object
 5   Contact_Number  585 non-null    int64
 6   Ratings         585 non-null    float64
 7   Reviews         585 non-null    int64
 8   Gender          585 non-null    object
 9   Nearby_places   585 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 45.8+ KB

In [5]:
# check the missing values
df.isnull().sum()

PG_ID             0
PG_Name           0
Location          0
Rent              0
Amenities         0
Contact_Number    0
Ratings           0
Reviews           0
Gender            0
Nearby_places     0
dtype: int64

In [6]:
# Convert Rent column to numeric (if needed)

df["Rent"] = pd.to_numeric(df["Rent"], errors='coerce')

In [7]:
df

,PG_ID,PG_Name,Location,Rent,Amenities,Contact_Number,Ratings,Reviews,Gender,Nearby_places
0,1,Green Nest PG,Koramangala,8500,"WiFi, AC, Food",9876543210,4.5,120,Boys,Near Forum Mall
1,2,Blue Stay PG,Whitefield,7500,"WiFi, Laundry",9876543211,4.2,85,Co-living,Near ITPL
2,3,Cozy Nest PG,Marathahalli,9000,"WiFi, AC, Food, Laundry",9876543212,4.8,200,Boys,Near Innovative Multiplex
3,4,Urban Hive PG,Electronic City,7000,WiFi,9876543213,3.9,60,Co-living,Near Wipro Gate
4,5,Royal Comfort PG,Indiranagar,9500,"WiFi, AC, Food",9876543214,4.7,150,Boys,Near Metro Station
...,...,...,...,...,...,...,...,...,...,...
580,581,Pearl Residency,MG Road,9100,"WiFi, AC, Food",9876544113,4.5,190,Girls,Adjacent to Brigade Road
581,582,Ivy Haven,Domlur,7900,"WiFi, Food, AC",9876544114,3.9,125,Girls,Near EGL Business Park
582,583,Garnet Residency,Wilson Garden,7300,"WiFi, Laundry",9876544120,3.2,80,Girls,Near NIMHANS Hospital
583,584,Magnolia Comfort,Banashankari,7800,"WiFi, Food, AC",9876544121,4.1,145,Girls,Close to BDA Complex
584,585,Platinum Stay,KR Puram,9000,"WiFi, AC, Food",9876544122,4.6,210,Girls,Near Hanging Bridge

In [8]:
df.describe()

           PG_ID          Rent  Contact_Number     Ratings     Reviews
count  585.00000    585.000000    5.850000e+02  585.000000  585.000000
mean   293.00000   8250.427350    9.876544e+09    4.109231  109.391453
std    169.01923   1140.072091    2.846934e+02    0.777256   35.552088
min      1.00000   4500.000000    9.876543e+09    1.500000   15.000000
25%    147.00000   7600.000000    9.876543e+09    4.000000   88.000000
50%    293.00000   8500.000000    9.876544e+09    4.300000  110.000000
75%    439.00000   9100.000000    9.876544e+09    4.600000  135.000000
max    585.00000  10200.000000    9.876544e+09    4.900000  210.000000

In [ ]:
# REnt distributution